version: "3"
services:
  user-service:
    container_name: "user-service"
    image: postgres:alpine
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: user_service
    ports:
      - 5432:5432
    volumes:
      - user_service_pgdata:/var/lib/postgresql/data
volumes:
  user_service_pgdata: {}